#workspace {
	width: 500px;
	height: 200px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: absolute;
	margin: auto;
}

#left-weights {
	height: 20px;
	float: left;
}

#right-weights {
	height: 20px;
	text-align: right;
}

#storage-weights {
	height: 20px;
	display: table;
	margin: auto;
}

#interface {
	width: inherit;
	margin-top: 120px;
}

#result {
	float: right;
}

.weight {
	padding-left: 2pt;
	padding-right: 2pt;
	cursor: pointer;
}